<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bang.ap.dp.web.mapper.MonitorDataThresholdMapper">
  <resultMap id="BaseResultMap" type="com.bang.ap.dp.web.entity.MonitorDataThreshold">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, code ,name ,type,value,create_time,update_time
  </sql>
  <sql id="Add_Column_List">
   code ,name ,type,value,create_time,update_time
  </sql>
  <sql id="Base_Table">
    monitor_data_threshold
  </sql>

  <select id="getThreshold"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from
    <include refid="Base_Table" />

  </select>

  <select id="getThresholdByType"  parameterType="String" resultType="com.bang.ap.dp.web.entity.MonitorDataThreshold">
    select
    <include refid="Base_Column_List" />
    from
    <include refid="Base_Table" />
    <where>
      <if test="type != null and type !='' ">
        and type = #{type}
      </if>
    </where>

  </select>


</mapper>