<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bang.ap.dp.web.mapper.RoomUsedTimeLengthMapper">
  <resultMap id="BaseResultMap" type="com.bang.ap.dp.analysis.dto.RoomUseTimeDTO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="room_id" jdbcType="BIGINT" property="roomId" />
    <result column="time_length" jdbcType="BIGINT" property="timeLength" />
    <result column="earlier_time" jdbcType="VARCHAR" property="earlierTime" />
    <result column="later_time" jdbcType="VARCHAR" property="laterTime" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, room_id ,time_length,earlier_time,later_time,date ,create_time,update_time
  </sql>
  <sql id="Add_Column_List">
    room_id ,time_length,earlier_time,later_time,date ,create_time,update_time
  </sql>
  <sql id="Base_Table">
    room_used_time
  </sql>


  <select id="getRoomUseTimeDTO" parameterType="com.bang.ap.dp.analysis.dto.RoomUseTimeDTO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from
    <include refid="Base_Table" />

  <where>

    <if test="roomId != null">
      and room_id =#{roomId}
    </if>

    <if test="date != null">
      and  date =#{date}
    </if>
  </where>
  </select>

  <select id="getTop7RoomUseTime" parameterType="com.bang.ap.dp.analysis.dto.RoomUseTimeDTO" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from
    <include refid="Base_Table" />

    <where>

      <if test="roomId != null">
        and room_id =#{roomId}
      </if>

      <if test="date != null">
        and date =#{date}
      </if>

    </where>
    order by date desc
    limit 7
  </select>

  <insert id="insertRoomUseTimeDTO" parameterType="com.bang.ap.dp.analysis.dto.RoomUseTimeDTO">
    insert into
      <include refid="Base_Table" />
    (
      <include refid="Add_Column_List" />
    )
    values
    (
    #{roomId,jdbcType=BIGINT},
    #{timeLength,jdbcType=BIGINT},
    #{earlierTime,jdbcType=VARCHAR},
    #{laterTime,jdbcType=VARCHAR},
    #{date,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>

  <update id="updateRoomUseTimeDTO" parameterType="com.bang.ap.dp.analysis.dto.RoomUseTimeDTO" >
    update
    <include refid="Base_Table" />
    <set >
      <if test="timeLength != null and timeLength !='' " >
        time_length = #{timeLength},
      </if>
      <if test="earlierTime != null and earlierTime !='' " >
        earlier_time = #{earlierTime},
      </if>
      <if test="laterTime != null and laterTime !='' " >
        later_time = #{laterTime},
      </if>
    </set>
    <where>
      <if test="roomId != null and roomId !='' ">
        and room_id = #{roomId}
      </if>
      <if test="date != null and date !='' ">
        and date = #{date}
      </if>
    </where>
  </update>




</mapper>