<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bang.ap.dp.web.mapper.UserMapper">
  <resultMap id="UserResultMap" type="com.bang.ap.dp.web.entity.UserInfo">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="id_card" jdbcType="VARCHAR" property="idCard" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, code ,name ,id_card,sex,phone,email,create_time,update_time
  </sql>
  <sql id="Add_Column_List">
     code ,name ,id_card,sex,phone,email,create_time,update_time
  </sql>
  <sql id="Base_Table">
    user_info
  </sql>

  <select id="selectById" parameterType="int" resultType="com.bang.ap.dp.web.entity.UserInfo" >
    select
    <include refid="Base_Column_List" />
    from
    <include refid="Base_Table" />

    <if test="userId != null">
      where id =#{userId}
    </if>
  </select>

  <select id="getUserByUserInfo" parameterType="com.bang.ap.dp.web.entity.UserInfo" resultMap="UserResultMap" >
    select
    <include refid="Base_Column_List" />
    from
    <include refid="Base_Table" />

    <where>
      <if test="code != null and code !='' ">
        and code = #{code}
      </if>
      <if test="name != null and name !='' ">
        and name = #{name}
      </if>
      <if test="phone != null and phone !='' ">
      and phone = #{phone}
    </if>
      <if test="email != null and email !='' ">
        and email = #{email}
      </if>
    </where>


  </select>

  <insert id="addUserInfo" keyProperty="id"  useGeneratedKeys="true" parameterType="com.bang.ap.dp.web.entity.UserInfo">
    insert into
      <include refid="Base_Table" />
    (
      <include refid="Add_Column_List" />
    )
    values
    (
    #{code,jdbcType=VARCHAR},
    #{name,jdbcType=VARCHAR},
    #{idCard,jdbcType=VARCHAR},
    #{sex,jdbcType=VARCHAR},
    #{phone,jdbcType=VARCHAR},
    #{email,jdbcType=VARCHAR},
    #{createTime,jdbcType=TIMESTAMP},
    #{updateTime,jdbcType=TIMESTAMP}
    )
  </insert>

  <select id="getUserList" resultMap="UserResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    <include refid="Base_Table" />
    <where>
      <if test="id != null and id !='' ">
        and id = #{id}
      </if>
      <if test="code != null and code !='' ">
        and code = #{code}
      </if>
      <if test="name != null and name !='' ">
        and name = #{name}
      </if>
    </where>
  </select>

  <update id="updateUserInfo" parameterType="com.bang.ap.dp.web.entity.UserInfo" >
    update
    <include refid="Base_Column_List" />
    <set >
      <if test="code != null and code !='' " >
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null and name !='' " >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null and displayName !='' " >
        id_card = #{idCard,jdbcType=VARCHAR},
      </if>
      <if test="sex != null and sex !='' " >
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="phone != null and phone !='' " >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null and email !='' " >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null and updateTime !=''" >
        updateTime = #{updateTime,jdbcType=TIMESTAMP}
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectPage"   parameterType="map" resultMap="UserResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM
    <include refid="Base_Table" />
    <where>
      <if test="searchMap.code!=null and searchMap.code!='' ">
        and code like CONCAT(CONCAT('%', #{searchMap.code}), '%')
      </if>
      <if test="searchMap.name!=null and searchMap.name!='' ">
        and name like CONCAT(CONCAT('%', #{searchMap.name}), '%')
      </if>
      <if test="searchMap.phone!=null and searchMap.phone!='' ">
        and phone like CONCAT(CONCAT('%', #{searchMap.phone}), '%')
      </if>
      <if test="searchMap.email!=null and searchMap.email!='' ">
        and email  like CONCAT(CONCAT('%', #{searchMap.email}), '%')
      </if>
    </where>
  </select>

</mapper>